  a s g i r e f = = 3 . 8 . 1   D j a n g o = = 5 . 1 . 7   d j a n g o - w i d g e t - t w e a k s = = 1 . 5 . 0   d j a n g o r e s t f r a m e w o r k = = 3 . 1 5 . 2   s q l p a r s e = = 0 . 5 . 3   t z d a t a = = 2 0 2 5 . 1  g u n i c o r n = = 20 . 1 . 0   