body {
    overflow-x: hidden;
   
}
.gradient-icon {
    font-size: 20rem;
    position: absolute;
    right: 200px;
    top: 50px;
    background: linear-gradient(45deg, #4e039f, #ea00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .circle {
    position: fixed;
    border-radius: 50%;
    opacity: 0.1; /* Transparency effect */
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(61, 1, 243, 0.5), transparent);
    z-index: -1;
}
span {
    background: linear-gradient(45deg, #4e039f, #ea00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu {
    background: linear-gradient(45deg, #f8046d, #ea00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 900;
}
#menu-title {
    background: linear-gradient(45deg, #4e039f, #ea00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-size: 900;
}



